{% extends 'index.html' %}
{% block title %} Carrière/Parcours du medecin. {% endblock %}
 {% block nav1 %}
            <a class="nav-link" href="/">Page d'accueil <span class="sr-only">(current)</span></a>
        {% endblock %}
 {% block nav2 %}
        <a class="navbar-brand" href="firstpage.html">Carrière/Parcours du medecin.</a>
          {% endblock %}
{% block body %} <div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Certificat</th>
		      <th scope="col">Description</th>
		      <th scope="col">Emplacement</th>
		      <th scope="col">Dates</th>
		      <th scope="col">Remerciements a</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td class="w-25">
			      <img src="static/certificat1.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Congres mondiale anti-âge</td>
		      <td>Monte Carlo,Principaute de Monaco</td>
		      <td>le 4/5/6 avril 2013 </td>
		      <td>Dr.Pierre André <br>
              Dr.Claude Dalle</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td class="w-25">
			      <img src="static/certificat2.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>
atelier d'injectables et d'anatomie pour les professionels avancés</td>
		      <td>Monte Carlo , principaute de Monaco</td>
		      <td>le 3 avril 2013</td>
		      <td>Dr.Herve Raspaldo<br>
                  Dr.Steven Liew<br>
                   Dr.André Braz</td>
		    </tr>
          <tr>
		      <th scope="row">3</th>
		      <td class="w-25">
			      <img src="static/certificat3.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Congres mondiale anti-âge</td>
		      <td>Monte Carlo,Principaute de Monaco</td>
		      <td>le 19/20/21 mars 2009 </td>
		      <td>Dr.Pierre André <br>
              Dr.Claude Dalle<br>
              Dr.Patrick Trévidic<br>
              Dr.Mario Krause</td>
		    </tr>
          <tr>
		      <th scope="row">4</th>
		      <td class="w-25">
			      <img src="static/certificat4.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Journées dermatologiques de Paris</td>
		      <td>Paris,France</td>
		      <td>du 5 au 9 décembre 2006</td>
		      <td>-------</td>
		    </tr>
          <tr>
		      <th scope="row">5</th>
		      <td class="w-25">
			      <img src="static/certificat5.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>IMCAS 2011 sur la mesotherapie</td>
		      <td>du 6 au 9 janvier</td>
		      <td>Palais des congrés, Paris , France.</td>
		      <td>Dr.Benjamin Ascher</td>
		    </tr>
          <tr>
		      <th scope="row">6</th>
		      <td class="w-25">
			      <img src="static/certificat6.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>5éme EADV symposium du printemps</td>
		      <td>du 22 mmai au 25 mai 2008</td>
		      <td>Istanbul Turquie</td>
		      <td>Prof.Mehmet Ali Gurer<br>
              Prof.Alberto Giannetti</td>
		    </tr>
          <tr>
		      <th scope="row">7</th>
		      <td class="w-25">
			      <img src="static/certificat7.jpg" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td>Journées dermatologiques de Paris </td>
		      <td>du 7 au 11 décembre 2004.</td>
		      <td>Palais des congrés , Paris , France.</td>
		      <td>Pr.Martine Bagot</td>
		    </tr>
		  </tbody>
		</table>
    </div>
  </div>
</div>{% endblock %}