{% extends 'index.html' %}
{% block title %} Carrière/Parcours du medecin. {% endblock %}
 {% block nav1 %}
            <a class="nav-link" href="/">Page d'accueil <span class="sr-only">(current)</span></a>
        {% endblock %}
 {% block nav3 %}
        <a class="navbar-brand" href="secondpage.html">Traitement/Maladies</a>
          {% endblock %}
{% block body %}
<br>
<br>
<div class="first-top">
<h1 class="first-header">Traitement/Maladies traites.</h1>

</div>
<br>

<table class="table table-hover">
  <thead>
    <tr id="tableheader">
      <th scope="col">#</th>
      <th scope="col">Maladies/traitements</th>
      <th scope="col">Descriptions/Symptomes</th>
      <th scope="col">Traitement Offert</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Acné</td>
      <td> survient à l’adolescence et peut rester jusqu’à l’âge de 20 à 24 ans . Elle peut être légère , moyenne à sévère .</td>
      <td>Le traitement varie en fonction de la sévérité et de l’âge ; il consiste en l’application de crème parfois associés à des
          antibiotiques ou la prise d’isotretinoine (ex. Curacné , ....). Le traitement de l’acné permet de traiter les boutons et
          d’éviter les cicatrices.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Eczéma</td>
      <td>peut être constitutionnel ou allergique . L’eczéma constitutionnel appelé dermatite atopique apparaît à l’âge de 3 mois et peut disparaître après l’âge de 2 ans , parfois elle persiste à l’âge adulte .
          L’eczéma allergique est dû au contact de la peau avec une substance (ex.parfum,végétaux,nickel,...)</td>
      <td> Le traitement de l’eczéma est le plus souvent les crèmes à base de cortisone et pour l’eczéma allergique c’est l’éviction de la substance responsable qu’on appelle allergène .</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Psoriasis</td>
        <td> une maladie de la peau très fréquente ; les lésions peuvent être minimes et les personnes atteintes n’y font même pas attention comme elles peuvent être sévères avec retentissement psychologique .
            Le psoriasis est chronique récidivant pendant parfois des années.</td>
      <td>Le traitement peut être local avec des crèmes contenant de la cortisone parfois associée à un dérivé de la vitamine D , comme il peut être général utilisant des médicaments efficaces mais avec , parfois , des effets secondaires .
</td>
    </tr>
   <tr>
      <th scope="row">4</th>
      <td>Verrues</td>
      <td>dûs à un virus banal qui atteint des personnes qui sont prédisposés à faire des verrues surtout les enfants .</td>
      <td>cryothérapie à l'azote liquide</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Kystes</td>
      <td>Un kyste est une cavité qui contient un liquide ou une substance semi-solide qui se forme dans un organe ou dans un tissu.
          La grande majorité des kystes ne sont pas cancéreux, mais certains peuvent perturber le fonctionnement d'un organe et causer des douleurs.</td>
      <td>Les actes de chirurgie dermatologiques effectués au cabinet sous anesthésie locale concernent les kystes </td>
    </tr>
   <tr>
      <th scope="row">6</th>
      <td>Pelade</td>
      <td>une maladie non contagieuse qui peut atteindre les cheveux et les poils de tout le corps . Elle peut être minime comme elle peut être sévère atteignant tout le crâne (pelade decalvante) ou tout le corps (pelade universalis) .
          Elle peut être associée à un diabète , un vitiligo et/ou un dysfonctionnement de la thyroïde .</td>
      <td>ce traitement est disponible.</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Botox </td>
      <td>Botox dont la substance active est la toxine botulique qui permet de mettre au repos les muscles du visage responsables des rides dynamiques
          (rides du front,la région inter sourcilière et les rides de la patte d’oie autour de l’œil) .</td>
      <td>Le botox est fait tous les 4 mois la première année puis tous les 6 à 10 mois .</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>peelings</td>
      <td>il y'as trois types de peeling :
      <ol>
          <li>Les peelings superficiels faits en plusieurs séances permettent de donner un coup d’éclat, d’effacer des tâches et ridules .</li>
          <li>Les peelings moyens faits en général en une seule séance permettent un rajeunissement du visage .</li>
          <li>Le peeling profond se fait uniquement chez les personnes avec peau blanche et permet un rajeunissement du visage de plusieurs années (10 ans).</li>
      </ol>
      </td>
      <td>les trois types de peeling sont offert </td>
    </tr>
   <tr>
      <th scope="row">9</th>
      <td>mésothérapie</td>
      <td>consiste à injecter au visage avec une fine aiguille un mélange de vitamines,sels minéraux,acide hyaluronique pour donner de l’éclat,traiter les taches et les fines ridules .</td>
      <td>Le traitement se fait en plusieurs séances.</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>PRP</td>
      <td> (Plasma Riche en Plaquettes) est traitement naturel fait à partir de votre sang qu’on prélève dans un tube spécial (laboratoire suisse regenlab : www.regenlab.com) et dont on extrait le Plasma qui est un plasma riche en Plaquettes et ce sont ces dernières qui font tout le traitement . On utilise le P.R.P. ,
          en esthétique , pour le rajeunissement du visage,du cou et des mains.</td>
      <td>ce traitement est disponible.</td>
    </tr>
    <tr>
      <th scope="row">11</th>
     <td>le comblement des rides avec l’acide hyaluronique </td>
      <td>Le comblement avec l’acide hyaluronique qui est une substance qu’on trouve au niveau de la peau,des articulations,des yeux,...et qui n’a d’acide que le nom .
          L’injection d’acide hyaluronique permet d’effacer les rides et de donner du volume au visage.</td>
      <td>ce traitement est disponible.</td>
    </tr>
  </tbody>
</table>
{% endblock %}



