{% extends 'index.html' %}
{% block title %} Carrière/Parcours du medecin. {% endblock %}
 {% block nav1 %}
            <a class="nav-link" href="/">Page d'accueil <span class="sr-only">(current)</span></a>
        {% endblock %}
 {% block nav4 %}
        <a class="navbar-brand" href="firstpage.html">Horaires/contact et emplacement</a>
          {% endblock %}
{% block body %}
    <div class="map1">
    <h2>Contact et Emplacement:</h2>
        </div>
     <div>
    <br>
    <hr>
    </div>
    <div id="contact">
    <img class="imgcontact" src="static/docteur2.jpg"  />
    <span id="p1">
    <em>Dermatologue diplômée de la faculté de médecine de Poitiers - France
        <br> Pour prendre un rendez vous: 0522 97 55 14
    <br>Au cabinet sont traités les maladies de peau les plus fréquentes et sont
        <br>réalisés des actes de chirurgie dermatologiques ainsi que des actes<br> de médecine esthétique.
     <br> Dr Elkassouani assiste,pour sa formation continue ,a des congres nationaux et internationaux<br>
     que vous pouvez trouver <a href="firstpage.html">ici</a></em>
</span>

    <div>
    <br>
    <br>
    <br>
    <hr>
    </div>
        </div>
    <div class="map1">
    <h1> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d831.4585405652687!2d-7.648166870781937!3d33.531697098796926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda62d1bc4b45861%3A0x99400d29f190cefe!2sImm.collaboration!5e0!3m2!1sfr!2sca!4v1582935896739!5m2!1sfr!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" ></iframe>

    </h1>
    <h4>le cabinet se trouve a l'immeuble collaboration au 5eme etage</h4>
    </div>

{% endblock %}